<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<nav class="footer">
    <div class="container">

        <div class="row">
            <div class="col-sm-7">
                <img src="assets/mail.png" alt="mail"> hello@twobytes.com.au <br><br>
                <p> Copyright &copy; 2014 Two Bytes Consulting <b>Terms & Policies.</b> </p>
            </div>

            <div class="col-sm-5" style="padding-top: 3rem; float: right;">
                <button style="font-size:15px; color: #56beff;"><i class="fa fa-twitter"></i>Tweet</button>
                <input type="number" value="692" style="width: 50px; background-color: transparent; border: solid 1px #56beff; height: 25px;" readonly>

                <button id="b2" style="font-size:15px; color: #56beff; margin-left: 2rem;"><i class="fa fa-facebook-official"></i>Like</button>
                <input id="i1" type="number" value="117" style="width: 50px; background-color: transparent; border: solid 1px #56beff; height: 25px;" readonly>
            </div>
        </div>
        
    </div>
</nav>