<div class="row" style="background-color: #56beff; height: 6rem;"></div>
<div class="container w-75">
    <div class="row" style="margin-bottom: 2rem; color: #56beff;">
        <h3>Profile</h3>
    </div>

    <div class="row">

        <div class="col-sm-5">
            <div class="button-group">
                <input id="fileInput" type="file" style="display:none;" />
                <button type="button" value="Choose Files!" (click)="onclick();" class="btn btn-warning" style="margin-right: 2rem;">Edit Photo</button>
                 
                <button type="button" class="btn btn-warning" (click)="openEdit()">Edit Profile</button>
            </div>
        </div>

        <div class="col-sm-7">
            <p>
             I'm name" and I'm above "age" years and <br>
            you can send your emails to <br>
            "email". I live in the state of <br> 
            "state". I like to play "interests". <br>
            And please send me newsletters. Please <br>
            reach out to me on my phone number.
            </p>

            <br>

            <button type="button" class="btn py-1.5 px-4 btn-success">I Agree</button>

            
        </div>

    </div>
</div>